.button {
    -fx-background-insets: 0 0 0 0, 0, 1;
    -fx-background-radius: 0, 0, 0;
    -fx-font-family: "Lohit Tamil Classical";
    -fx-background-color: rgb(143, 185, 185);
}

.button:hover {
    -fx-background-color: rgb(190, 185, 168);
}

.combo-box {
    -fx-background-insets: 0 0 0 0, 0, 1;
    -fx-background-radius: 0, 0, 0;
    -fx-font-family: "Lohit Tamil Classical";
    -fx-background-color: rgb(143, 185, 185);
}

.combo-box:hover {
    -fx-background-color: rgb(190, 185, 168);
}